<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Dun Know.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Cormorant:700|Montserrat|Bowlby+One+SC|Playfair+Display+SC:400,700,900"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/theDunKnow.css">
</head>

<body>
    <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
    <header>
        <div class='titleMainBox'>
            <h1 class='titleMain'><span>The Dun</span><br>Know</h1>
        </div>
    </header>

    <div id="navbar">
        <nav id='nav'>

            <div class='titleMainBoxMini'>
                <a href="/theDunKnow.html">
                    <h1 class='titleMainMini'><span>The Dun</span><br>Know</h1>
                </a>
            </div>

            <div class='clickContainer'>
            </div>


            <label for="menuClick">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" name="" id="menuClick" class='burgerClick'>

            <div class="navContent">
                <a class='nav-item' href="#">Reviews</a>
                <a class='nav-item' href="#">For The Culture</a>
                <a class='nav-item' href="#">The Courts</a>
                <a class='nav-item' href="#">Fresh Cuts</a>
                <a class='nav-item' href="#">The Classics</a>
                <h4 class='nav-item' id='search'>Search</h4>
                <h4 class='nav-item' id='subscribe'>Subscribe</h4>
            </div>
        </nav>
    </div>