<% include partials/header %>

<body class="pgBody">
    <!--[if lt IE 7]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="#">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->
    <header>
        <div class="titleMainBox">
            <h1 class="titleMain"><span>The Dun</span><br />Know</h1>
        </div>
    </header>
    <div id="navbar">
        <nav id="nav">
            <div class="titleMainBoxMini">
                <a href="/theDunKnow.html">
                    <h1 class="titleMainMini"><span>The Dun</span><br />Know</h1>
                </a>
            </div>

            <div class="clickContainer"></div>

            <label for="menuClick">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" name="" id="menuClick" class="burgerClick" />

            <div class="navContent">
                <a class="nav-item" href="#">Reviews</a>
                <a class="nav-item" href="#">For The Culture</a>
                <a class="nav-item" href="#">The Courts</a>
                <a class="nav-item" href="#">Fresh Cuts</a>
                <a class="nav-item" href="#">The Classics</a>
                <h4 class="nav-item" id="search">Search</h4>
                <h4 class="nav-item" id="subscribe">Subscribe</h4>
            </div>
        </nav>
    </div>

    <main class="pgKingContainer">
        <article class="pgContent" id="monster">
            <div class="headerImg">
                <img src="../Media/tkay_maidza8.jpg" alt="Tkay Maidza crowd surfs at a lit Aussie show" />
            </div>
            <div class="scrollTitle ftTitle" id="scrollTitle">
                <h1>
                    Inside the <span>wonderful,</span> wavy mind of Australia's
                    <span>Tkay Maidza</span>
                </h1>
            </div>
            <div class="ftrWordBox">
                <article class="ftrWord">
                    <aside class="ftTitle">
                        <!-- <h1>Inside the <span>wonderful,</span> wavy mind of Australia's <span>Tkay Maidza</span></h1> -->
                        <h1>
                            The one-girl <span>powerhouse</span> on the crest of the
                            <span>hiphop wave</span> in the land down under
                        </h1>
                    </aside>
                    <p>
                        Lorem ipsum dolor amet kickstarter you probably haven't heard of
                        them biodiesel, unicorn single-origin coffee echo park brooklyn man
                        bun aesthetic messenger bag yr brunch sustainable tousled. Yuccie
                        irony edison bulb slow-carb banjo, activated charcoal scenester.
                        Tacos meggings edison bulb schlitz hammock skateboard try-hard 8-bit
                        gastropub keytar semiotics. Taiyaki mumblecore everyday carry YOLO
                        drinking vinegar shabby chic knausgaard VHS tousled PBR&B you
                        probably haven't heard of them migas ramps chillwave lumbersexual.
                    </p>
                    <p>
                        Sartorial af trust fund bicycle rights ugh small batch asymmetrical
                        kale chips blog chillwave. Swag heirloom mumblecore, bushwick
                        everyday carry helvetica tumblr iceland poke selfies ennui pork
                        belly austin. Enamel pin quinoa PBR&B, hashtag cronut butcher fanny
                        pack cray mumblecore pok pok. Cred fixie pour-over vexillologist
                        typewriter. Intelligentsia celiac sriracha yr, chambray irony
                        bushwick hoodie swag retro williamsburg pitchfork.
                    </p>
                    <img src="../Media/tkay_maidza7.jpg" alt="" class=" ftImgMd" />
                    <p>
                        Kinfolk offal vice franzen asymmetrical intelligentsia tattooed
                        narwhal semiotics readymade ethical skateboard. Stumptown
                        gluten-free pop-up tumblr, single-origin coffee hammock disrupt
                        iPhone tofu tbh freegan brunch. Vegan tumblr fanny pack vinyl echo
                        park la croix church-key slow-carb fingerstache umami kombucha
                        pop-up iPhone. Sartorial tumeric pork belly post-ironic crucifix,
                        dreamcatcher unicorn seitan synth man braid.
                    </p>
                    <p>
                        Literally post-ironic chambray kitsch. Salvia vinyl mumblecore
                        hoodie. Jianbing pinterest intelligentsia cronut freegan, church-key
                        four dollar toast ethical venmo man bun. La croix cronut mixtape
                        prism, hella you probably haven't heard of them direct trade vinyl
                        church-key lumbersexual tacos. Deep v aesthetic cred sartorial.
                    </p>
                    <img src="../Media/tkay_maidza6.jpg" alt="" class=" ftImgMd" />
                </article>
                <div class="ftImg ftImgLg ">
                    <img src="../Media/tkay_maidza10.jpg" class="" alt="" />
                </div>
                <!-- <div class="ftImg ftImgXs hideme">
                                <img src="../Media/tkay_maidza10.jpg" alt="">
                            </div>
                            <div class="ftImg ftImgXl hideme">
                                <img src="../Media/tkay_maidza6.jpg" alt="">
                            </div> -->
                <div class="ftImg ftImgSm ">
                    <img src="../Media/tkay_maidza9.jpg" alt="" />
                </div>
            </div>
        </article>
    </main>


    <% include partials/footer %>