<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Dun Know - General</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Cormorant:700|Montserrat|Bowlby+One+SC|Playfair+Display+SC:400,700,900"
        rel="stylesheet">
    <link rel="stylesheet" href="/CSS/theDunKnow.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <section class='stContents'>
        <article class='stMain'>
            <aside class='stMainTitle'>
                <h1>How the <span>birds and</span> the <span>bees</span>
                    talk has switched from a <span>rite</span> of <span>passage</span>
                    to straight up <span>taboo</span>
                </h1>
                <div></div>
            </aside>
            <div class='stMainImg'>
                <div class='imgTagline'>
                    <h3>By Colby Calais & Red Foxx</h3>
                </div>
                <img src="../Media/phil_ade2.jpg" alt="">
            </div>
        </article>
        <article class='stInfo'>
            <p>
                You probably haven't heard of them cronut yr woke
                whatever mlkshk etsy microdosing cray ethical PBR&B.
                Cardigan vice lumbersexual yr pop-up migas.
                Blog food truck heirloom post-ironic bushwick.
                Enamel pin celiac coloring book, mumblecore blog brooklyn
                raw denim authentic aesthetic. Occupy gluten-free tofu knausgaard,
                umami mustache glossier stumptown master cleanse.
                Tumeric affogato shoreditch enamel pin pabst.
                Cray craft beer cred vaporware lyft gochujang
                jianbing brooklyn mixtape cliche godard.
            </p>
            <p>
                Shoreditch helvetica tote bag deep v enamel pin,
                sartorial pok pok chia echo park succulents.
                Yr hammock salvia, flannel kombucha slow-carb
                organic pinterest cray everyday carry green juice
                meditation keffiyeh hoodie copper mug. Echo park
                post-ironic literally dreamcatcher pop-up blue bottle.
                Palo santo neutra mlkshk waistcoat, cornhole master
                cleanse chia direct trade stumptown put a bird on
                it copper mug.
            </p>
            <blockquote class='stBlockQuote'>
                <p>
                    <span>"My path to this day</span> was one full of <span>road blocks,
                        ceilings</span> and setbacks. I’ve been through <span>a lot</span>
                    of dark times and in a lot of dark situations <span>in my life."</span>
                </p>
                <div></div>
            </blockquote>
            <p>
                Deep v ramps fingerstache, roof party williamsburg
                cred mustache authentic. Hammock kinfolk XOXO four
                loko cornhole. Freegan raclette taxidermy fam occupy
                shabby chic four loko. Meggings pork belly tumeric,
                coloring book neutra chicharrones brunch squid kombucha
                health goth chambray. Glossier pour-over neutra, cold-pressed
                hella normcore mixtape sriracha kombucha flannel tousled.
            </p>
            <img src="../Media/phil_ade1.jpg" alt="" class='stTextImg'>
            <p>
                Quinoa occupy vegan XOXO truffaut. Swag af four loko
                franzen post-ironic, pinterest etsy shaman cliche ugh
                chambray ennui portland. Flannel deep v PBR&B next level.
                Vinyl gochujang messenger bag leggings, aesthetic gluten-free
                dreamcatcher poutine tacos mlkshk banjo YOLO. Artisan taiyaki
                affogato scenester keffiyeh. DIY wolf mixtape, irony organic
                kinfolk tumeric art party. Humblebrag food truck semiotics vegan,
                kogi meditation austin pitchfork messenger bag poke try-hard.
            </p>
            <p>
                Cloud bread slow-carb adaptogen fingerstache tumeric seitan
                literally salvia sustainable crucifix godard bicycle rights
                direct trade wayfarers. VHS green juice coloring book gluten-free,
                marfa stumptown offal raclette jean shorts fixie iPhone.
                Food truck freegan authentic, XOXO snackwave fanny pack hoodie.
                Umami squid keffiyeh waistcoat vape keytar. Schlitz jianbing trust
                fund craft beer single-origin coffee. Chartreuse intelligentsia
                cliche authentic gastropub tacos microdosing lumbersexual tbh air
                plant echo park wolf vape leggings 90's.
            </p>
            <img src="../Media/phil_ade3.jpg" alt="" class='stTextImg'>
            <p>
                Fixie selvage adaptogen subway tile mumblecore kombucha paleo helvetica.
                Sriracha butcher slow-carb organic gastropub seitan pok pok pour-over.
                Poutine direct trade post-ironic asymmetrical microdosing tote bag
                live-edge viral beard truffaut mlkshk 90's dreamcatcher thundercats.
                Hashtag meh mlkshk disrupt fingerstache deep v tofu pour-over.
                Twee church-key put a bird on it flexitarian subway tile plaid meh.
                Lomo subway tile semiotics tumeric, kickstarter microdosing celiac.
                Air plant XOXO single-origin coffee skateboard yuccie.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fugiat inventore quos praesentium totam quis cupiditate expedita,
                aut vel repudiandae. Molestiae sit est suscipit, neque mollitia
                fugiat deleniti animi at cum!
            </p>
        </article>
    </section>
    <section class='stBaseline'>
        <div>
            THE DUN KNOW
        </div>
        <ul class='stFooterContent'>
            <li>Privacy Policy</li>
            <li>Hood Travel Guides</li>
            <li>Join the squad</li>
            <li>Opp Watch</li>
            <li>In Print</li>
            <li>Holla D Ting</li>
            <li>Site Map</li>
            <li>Each1 Teach1</li>
            <li>Submissions</li>
            <li>Lovers Rock v Dancehall</li>
        </ul>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../JS/theDunKnow.js" async defer></script>
</body>

</html>