<% include partials/header %>

<body class='pgBody'>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header>
        <div class='titleMainBox'>
            <h1 class='titleMain'><span>The Dun</span><br>Know</h1>
        </div>
    </header>

    <div id="navbar">
        <nav id='nav'>

            <div class='titleMainBoxMini'>
                <a href="/HTML/theDunKnow.html">
                    <h1 class='titleMainMini'><span>The Dun</span><br>Know</h1>
                </a>
            </div>

            <div class='clickContainer'>
            </div>


            <label for="menuClick">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" name="" id="menuClick" class='burgerClick'>

            <div class="navContent">
                <a class='nav-item' href="#">Reviews</a>
                <a class='nav-item' href="#">For The Culture</a>
                <a class='nav-item' href="#">The Courts</a>
                <a class='nav-item' href="#">Fresh Cuts</a>
                <a class='nav-item' href="#">The Classics</a>
                <h4 class='nav-item' id='search'>Search</h4>
                <h4 class='nav-item' id='subscribe'>Subscribe</h4>
            </div>
        </nav>
    </div>


    <!-- <main class='pgVidContainer'> -->
    <main class='content pgVidContainer'>

        <section class='vidHero' id='monster'>
            <article class='vidheroMain'>
                <div class='vidContent'>
                    <div class='playButtonLg'>
                        <i class="far fa-play-circle fa-7x"></i>
                    </div>
                    <video src="../Media/captainMarvelTrailer.mp4" class='vidElement playOnHover' preload="auto"
                        poster="../Media/captain marvel2.jpg"></video>
                </div>
                <aside class='vidMainHeading'>
                    <h2>Peep This : Captain Marvel Trailer </h2>
                </aside>
            </article>
        </section>

        <!-- <section class='hero' id=''>
                    <article class='heroMain'>
                        <a href="../HTML/theDunKnowFeaturev2.html">
                        <img class='' src="../Media/tkay_maidza8.jpg" alt="James Cameron and James Rodrieguez's Alita Battle Angel">
                        </a>
                        <aside class='mainHeading'>
                            <h2>Inside the wonderful, wavy mind of Australia's hip-hop princess Tkay Maidza</h2>
                            <p>By <span>iLoveTheDrama</span></p> 
                        </aside>
                    </article>
                </section> -->

        <div class='vidDeets'>
            <h2>Captain Marvel kickstarts the galactic fightback in the Earth 616 Universe</h2>
            <p>Skateboard umami iPhone cliche everyday carry. Taiyaki swag quinoa four loko thundercats.
                Echo park iceland typewriter post-ironic. Pinterest authentic flannel, quinoa wolf
                shoreditch la croix pitchfork edison bulb. Flexitarian hammock chartreuse, actually subway
                tile narwhal venmo typewriter four loko tbh intelligentsia photo booth. Fanny pack synth
                freegan PBR&B man braid helvetica.</p>
        </div>
        <section class='vidsectionContainer'>
            <div>
                <h2 class='vidHeading'>Related Video:</h2>
            </div>

            <div class='vidHeroSecond spacer'>
                <div class='vidNav'>
                    <a href="#">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </a>
                </div>

                <div class="vidSelection">


                    <article class='vidheroMiniFeat'>
                        <a href="#" class='vidWatchLabelBox'>
                            <img src="../Media/kendrick lamar3.png" alt="">
                            <div class='vidWatchLabel'>
                                <p class='vidInvite'>Watch <i class="far fa-play-circle fa-1x"></i> <span>3:12</span>
                                </p>
                            </div>
                        </a>
                        <aside class='miniHeading'>
                            <h2>The DK's Top 5 Hip-Hop dedication tracks of all time</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#" class='vidWatchLabelBox'>
                            <img src="../Media/pat mcgrath 2.jpg" alt="">
                            <div class='vidWatchLabel'>
                                <p class='vidInvite'>Watch <i class="far fa-play-circle fa-1x"></i> <span>4:02</span>
                                </p>
                            </div>
                        </a>
                        <aside class='miniHeading'>
                            <h2>Mirror Mirror on the wall. You dun know.</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#" class='vidWatchLabelBox'>
                            <img src="../Media/fela kuti.jpg" alt="">
                            <div class='vidWatchLabel'>
                                <p class='vidInvite'>Watch <i class="far fa-play-circle fa-1x"></i> <span>1:22</span>
                                </p>
                            </div>
                        </a>
                        <aside class='miniHeading'>
                            <h2>What Fela Kuti did for modern Dance music and rave culture </h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#" class='vidWatchLabelBox'>
                            <img src="../Media/dumbo.jpg" alt="">
                            <div class='vidWatchLabel'>
                                <p class='vidInvite'>Watch <i class="far fa-play-circle fa-1x"></i> <span>16:12</span>
                                </p>
                            </div>
                        </a>
                        <aside class='miniHeading'>
                            <h2>Dumbo is the next in a chain of predictable but unmissable disney remakes this year.
                                FFS.</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#" class='vidWatchLabelBox'>
                            <img src="../Media/anthony joshua.jpg" alt="">
                            <div class='vidWatchLabel'>
                                <p class='vidInvite'>Watch <i class="far fa-play-circle fa-1x"></i> <span>6:32</span>
                                </p>
                            </div>
                        </a>
                        <aside class='miniHeading'>
                            <h2>Anthony Joshua ducks questions about a potential match up with Deontay Wilder</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#" class='vidWatchLabelBox'>
                            <img src="../Media/american gods2.jpg" alt="">
                            <div class='vidWatchLabel'>
                                <p class='vidInvite'>Watch <i class="far fa-play-circle fa-1x"></i> <span>4:51</span>
                                </p>
                            </div>
                        </a>
                        <aside class='miniHeading'>
                            <h2>American Gods returns for season 2 </h2>
                        </aside>
                    </article>


                </div>

                <div class='vidNav'>
                    <a href="#">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </a>
                </div>
            </div>

            <section class='extraVidSection'>
                <section class='fixedMenu'>
                    <div class='theMenuFix'>
                        <h3><span>Talk</span> of the town</h3>
                        <ol>
                            <div class='ttEntry'>
                                <li>Desus and Mero get 3rd Season</li>
                            </div>

                            <li>Uncle Ruckus talks Trump and Maga on The Breakfast Club</li>
                            <li>Beyonce teams up with Hermes for limited edition flipflops </li>
                            <li>UB40 start brand of wine and launch yoga studio in Peckham</li>
                            <li>Outlook festival kicks of in Croatia with Wiley and Dizzee on stage together</li>
                            <li>Misty Copeland reflects on inspring bronx gangs from the ballet stage</li>
                            <li>Bjork buys seccond home in Burkina Faso and changes her name to 'Antee'</li>
                        </ol>
                    </div>
                </section>



                <section class='extraVid'>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/misty copeland3.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Misty Copeland's always on pointe</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/desus and mero.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>The brand is still strong as Desus and Mero get a 3rd Season</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat '>
                        <a href="../HTML/theDunKnowStandard.html">
                            <img src="../Media/black dynamite.webp" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Looking back at the genius of Black Dynamite</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/misty copeland3.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Misty Copeland's always on pointe</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/desus and mero.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>The brand is still strong as Desus and Mero get a 3rd Season</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat '>
                        <a href="../HTML/theDunKnowStandard.html">
                            <img src="../Media/black dynamite.webp" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Looking back at the genius of Black Dynamite</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/misty copeland3.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Misty Copeland's always on pointe</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/desus and mero.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>The brand is still strong as Desus and Mero get a 3rd Season</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat '>
                        <a href="../HTML/theDunKnowStandard.html">
                            <img src="../Media/black dynamite.webp" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Looking back at the genius of Black Dynamite</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/misty copeland3.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Misty Copeland's always on pointe</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat'>
                        <a href="#">
                            <img src="../Media/desus and mero.jpg" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>The brand is still strong as Desus and Mero get a 3rd Season</h2>
                        </aside>
                    </article>
                    <article class='vidheroMiniFeat '>
                        <a href="../HTML/theDunKnowStandard.html">
                            <img src="../Media/black dynamite.webp" alt="">
                        </a>
                        <aside class='miniHeading'>
                            <h2>Looking back at the genius of Black Dynamite</h2>
                        </aside>
                    </article>
                </section>

            </section>
            <div class='viewMoreButton'>
                <p><a href="#">View More</a></p>
            </div>
        </section>


    </main>


<% include partials/footer %>